<ul class="nav">
                 <li><a href="#">Category I</a></li>
                 <li><a href="#">Category II</a></li>
                 <li><a href="#">Category III</a></li>
                 <li><a href="#">Category IV</a></li>
                 <li class="last"><a href="#">Category V</a></li>
               </ul>
